.container {
  margin-top: 56px;
  padding: 24px 100px !important;
}

.title {
  color: #47467a !important;
}

.panel {
  :global {
    .ant-collapse-header {
      display: flex !important;
      align-items: baseline !important;
    }
  }
}

.detailItem {
  color: #584e2d !important;
}

.listItem {
  align-items: center;
}

.icon {
  font-size: 22px;
}

.descItem {
  :global {
    .ant-list-item-meta-description {
      color: #191d26 !important;
    }
  }
}

.text {
  margin: 8px 16px;
  font-size: 24px;
}

.contacts {
  display: flex !important;
  flex-direction: column;
  :global {
    .ant-typography {
      color: #7b88a8 !important;
    }
  }
}

.contacts > a {
  color: #7b88a8 !important;
}
